<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Yandex_disk">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Yandex_disk_test">
        <classes>
            <class name="test.YandexDiskTest"/>
        </classes>
    </test>
</suite>